body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.container {
  width: 850px;
  margin: 0 auto;
  padding: 50px 0;
}

.heading {
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.flex {
  &-center {
    justify-content: center;
    align-items: center;
  }

  &-space {
    justify-content: space-between;
  }

  &-column {
    flex-direction: column;
    justify-content: flex-end;
  }
}

.home {
  .cards {
    width: 100%;
  }
}

.card {
  position: relative;
  bottom: 0;
  width: 400px;
  height: 250px;
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 13px;
  background: linear-gradient(
    90deg,
    rgba(117, 127, 154, 1) 5%,
    rgba(215, 221, 232, 1) 100%
  );
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);

  &:hover {
    bottom: 5px;
  }

  &-border {
    border: 5px dotted black;
  }

  .plus {
    width: 60px;
  }

  &-logo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100px;
  }

  .chip {
    width: 50px;
    height: 44px;
    margin-bottom: 10px;
  }

  &-numbers {
    margin-bottom: 20px;
  }

  &-number {
    font-size: 32px;
    margin-right: 15px;
  }

  &-number,
  &-expiresDate,
  &-name {
    font-weight: 500;
    text-transform: uppercase;
  }

  &-expiresDate,
  &-name {
    font-size: 26px;
  }

  &-form {
    align-items: center;

    .form {
      width: 400px;
      margin: 0 auto;

      &-field {
        position: relative;
        margin-bottom: 45px;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }

      input {
        border: 1px solid rgb(102, 102, 102);
        padding: 3px 5px;
        width: 100%;
        height: 38px;
        border-radius: 4px;

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(0, 89, 255, 0.25) !important;
        }

        &::placeholder {
          font-style: italic;
        }
      }

      .error {
        &-cardNumber,
        &-message,
        &-digit {
          position: absolute;
          left: 0;
          bottom: -25px;
          color: #ff0000;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;

          &.active {
            opacity: 1;
            visibility: visible;
          }
        }

        &-digit {
          bottom: -45px;
        }

        &-input {
          transition: all 0.3s ease;

          &.active {
            border-color: #ff0000;
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .btn-save {
        background-color: #007bff;
        color: #ffffff;
        width: 100%;
        height: 36px;
        border: none;
        padding: 0;
        border-radius: 6px;
        cursor: pointer;
      }
    }
  }
}
